body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
font-family: 'Source Sans 3', sans-serif;
    background-color: black; 
}

#firsst{
    background-image: url(./images/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-image: linear-gradient();
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-bottom: 7.5px solid #232323;
   
    
}
#s1{
   background-color: rgba(0, 0, 0, 0.705); 
}
#header{
display: flex;
justify-content: space-between;
margin: 0px 126.6px;
padding: 24px 48px;
margin-bottom: 143px;

}
#s1 img{
    width: 9.25rem;
    height: 2.5rem;
   
}
#s1 #select{
    width: 99px;
    height: 30px;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    border:2px solid white;
}
.o1,.o2,.o3{
    background-color: white;
    color: black;
}
#signin{
color: white;
background-color:rgb(229,9,20) ;
font-size: 0.875rem;
font-weight: 500;
width: 73px;
height: 30px;
border-radius: 7px;
border: none;

}
#logo{
    padding: 8px 0px 0px 16px;
}
#s1 #d1{
    width: 86%;
    text-align:center;
    color: white;
    margin: auto;
    padding-bottom: 160px;
   
     /* padding: 20px; */
    /* margin-left: 20px; */
}
#d1 h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
    letter-spacing: 0.0002cm;
}
#d1 p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 16px 0px 0px;
}
#d1 h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}
#d1 input{
    width: 349px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    border:1px solid grey;
   
}
#i1::placeholder{
    color: rgb(192, 187, 187);
}
#d1 button{
   font-size:  1.5rem;
   width: 213px;
   height: 55px;
   border-radius: 6px;
   border: none;
   background-color: rgb(229, 9, 20);
}
#d1 button:hover{
    background-color:rgba(229, 9, 20, 0.692);
}
#d2{
    display: flex;
    justify-content: center;
    gap: 7px;
    padding-left: 43px;
    padding-right: 37px;
   
}
#d1 a{
    text-decoration: none;
    color: white;
}
#tv{

    width: 80%;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
    
}
#tvd{
    border-bottom: 7.5px solid #232323;
    padding-bottom: 72px;
    padding-top: 72px;
}
#left{
width: 50%;
}
#left h1{
    font-size: 3rem;
    font-weight: 900;
}
#p1{
    font-size: 1.5rem;
}
#right{
    width: 50%;
}
#right video{
    position: absolute;
    left: 13.1%;
    top: 20.7%;
    width: 73%;
    z-index: 2;
}
#right img{
    width: 100%;
    z-index: 10;
    position: relative;
}

#right{
    position: relative;
}
#secondd{
    border-bottom: 7.5px solid #232323;
    padding-bottom: 72px;
    padding-top: 72px;
}
#second{
    display: flex;
    align-items: center;
     margin: auto;
     width: 80%;
}
#second #right{
    width: 50%;
}
#second #left{
    width: 50%;;
}
#second #left img{
    width: 100%;
}
#second #right{
    color: white;
    
}
#second #right h1{
    font-size: 3rem;
    font-weight: 900;
}
#second #right p{
    font-size: 1.5rem;
    font-weight: 400;
}
#third{
    display: flex;
    align-items: center;
     margin: auto;
     width: 80%;
}
#third #right{
    width: 50%;
}
#third #right img{
    width: 100%;
}
#third #left{
    width: 50%;;
}
#third #left{
    color: white;
    
}
#third #left h1{
    font-size: 3rem;
    font-weight: 900;
}
#third #left p{
    font-size: 1.5rem;
    font-weight: 400;
}

#third #right img{
    width: 100%;
    z-index: 10;
    position: relative;
    
}
#third #right video{
    position: absolute;
    left: 18.1%;
    top: 10.4%;
    width: 62%;
    z-index: 2;
   
}
#third #right {
    position: relative;
   
}
#thirdd{
    border-bottom: 7.5px solid #232323;
    padding-bottom: 72px;
    padding-top: 72px;
}
#fourth{
    display: flex;
    align-items: center;
     margin: auto;
     width: 80%;
}
#fourth #right{
    width: 50%;
}
#fourth #left img{
    width: 100%;
}
#fourth #left{
    width: 50%;;
}
#fourth #right{
    color: white;
    
}
#fourth #right h1{
    font-size: 3rem;
    font-weight: 900;
}
#fourth #right p{
    font-size: 1.5rem;
    font-weight: 400;
}
#fourthd{
    border-bottom: 7.5px solid #232323;
    padding-bottom: 72px;
    padding-top: 72px;
}
#footer{
    display: block;
    margin: auto;
    width: 80%;
    color: #afafab;
}
#footer #list1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#list1 ul{
    list-style-type: none;
    padding: 0;
}
#list1 ul li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#footer a{
    color:  #afafab;
}

#cont1{
    width: 7rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    text-align: center;
    border-radius: 6px;
}
#last{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#footerd{
    padding-bottom: 72px;
    padding-top: 72px;
}
#fifth{
    display: block;
    width: 78%;
    margin: auto;
    color: white;
    align-items: center;
}
#fifth h1{
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}
#fifth #buttond button{
    background-color: #2d2d2d;
    color: white;
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5%;
    font-size: 1.5rem;
    text-align: left;
    padding: 24px;
    border: none;
}
.btnn button:hover {
    background-color: rgba(237, 227, 227, 0.767);
}
#fifth h4{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
#ed{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
#ed input{
    width: 349px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    border:1px solid grey;
}
#ed button{
    font-size:  1.5rem;
    width: 213px;
    height: 55px;
    border-radius: 6px;
    border: none;
    background-color: rgb(229, 9, 20);
    color: white;
}

#ed input::placeholder{
    color: rgb(192, 187, 187);
}
#ed button:hover{
background-color:rgba(229, 9, 20, 0.692);
}
.btnn{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.btnn i{
    font-size: 2.6rem;
    font-weight:lighter;
    top: 18px;
    right: 28px;
    position: absolute;
}
#fifthd{
    border-bottom: 7.5px solid #232323;
    padding-bottom: 72px;
    padding-top: 72px;
}

